@font-face {
    font-family: 'OpenSans-Regular';
    src: URL('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: URL('../fonts/OpenSans-Bold.ttf') format('truetype');
}
body {
    overflow: hidden;
    color: #3e3e3e;
    font-family: 'OpenSans-Regular', Sans-Serif;
    font-size: 13px;
    padding: 0;
    margin: 0;
    background: #28343a;
}
h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0 0 20px 0;
}
h1 {
    font-size: 18px;
}
h2 {
    font-size: 14px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    color: #dd4b39;
}
p {
    line-height: 25px;
}
.sidebar-top {
    text-align: center;
    display: grid;
    grid-auto-flow: column;
}
.sidebar-top a {
    text-decoration: none;
    color: #fff;
}
#login {
    cursor: pointer;
    display: inline-block;
}
#login a {
    padding: 0 10px;
}
.container {
    height: 100vh;
    /*width: 100vw;*/
    display: grid;
    grid-template-columns: 1fr;
    background-color: #f7f7f7;
}
.header {
    background-color: #00acd6;
    color: #fff;
    text-align: center;
    padding: 15px 30px;
    margin: 0;
    font-size: 13px;
}
.header a {
    color: #fff;
}
.sidebar {
    background: #28343a;
    color: #c1c1c1;
    -webkit-box-shadow: inset 0px 0px 34px 23px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: inset 0px 0px 34px 23px rgba(0, 0, 0, 0.51);
    box-shadow: inset 0px 0px 34px 23px rgba(0, 0, 0, 0.51);
}
#profile .sidebar {
    overflow-y: scroll;
}
.sidebar > div {
    padding: 15px 30px;
}
.sidebar>div:nth-of-type(odd) {
    -webkit-box-shadow: inset 0px 0px 19px 0px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: inset 0px 0px 19px 0px rgba(0, 0, 0, 0.51);
    box-shadow: inset 0px 0px 19px 0px rgba(0, 0, 0, 0.51);
}
.footer {
    background: #1c2529;
    padding: 5px 10px;
    border-top: 1px solid #151c1f;
    text-align: center;
    color: #848484;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.body {
    display: grid;
    /*grid-template-columns: auto auto auto auto;*/
    grid-auto-flow: column;
    overflow: hidden;
}
.content {
    overflow-y: scroll;
    -webkit-box-shadow: inset -12px 0px 20px -4px rgba(0, 0, 0, 0.97);
    -moz-box-shadow: inset -12px 0px 20px -4px rgba(0, 0, 0, 0.97);
    box-shadow: inset -12px 0px 20px -4px rgba(0, 0, 0, 0.97);
    /*background: #eae8e8;*/
}
.gradient {
    padding: 20px;
    /*height: 100%;*/
    /*-webkit-box-shadow: inset 0px 5px 13px -5px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 5px 13px -5px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 5px 13px -5px rgba(0, 0, 0, 1);*/
    /*-webkit-box-shadow: inset 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 10px -4px rgba(0, 0, 0, 0.75);*/
    -webkit-box-shadow: inset 0 15px 15px -15px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: inset 0 15px 15px -15px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 15px 15px -15px rgba(0, 0, 0, 0.8);
    line-height: 25px;
    /*background-color: #f7f7f7;*/
}
section {
    margin-bottom: 20px;
}
#add-new-post {
    border-top: 1px solid #e2e1e1;
    margin-top: 20px;
    padding-top: 20px;
}
#add-new-post .trumbowyg-box,
#add-new-post .trumbowyg-editor {
    min-height: 100px;
}

/*.note {
    padding: 20px 0;
}*/

.edit-icons {
    width: 100%;
    padding: 5px;
    overflow: auto;
    border-top: 1px solid #e2e1e1;
    border-bottom: 1px solid #e2e1e1;
    margin-bottom: 10px;
}
.sidebar .edit-icons {
    border-top: 1px solid #454d50;
    border-bottom: 1px solid #454d50;
}

/*
hr {
    background: #e2e1e1;
    height: 10px;
    border: none;
}*/

.edit-icons .fa-close,
.edit-icons .fa-edit,
.edit-icons .fa-save {
    float: right;
    cursor: pointer;
    margin: 5px;
}
.sidebar .active {
    color: #dd4b39;
}
.sidebar a:hover {
    color: #dd4b39;
}
.row {
    border-bottom: 1px solid #222d32;
    display: grid;
    max-width: 340px;
    padding: 5px 0px;
    cursor: pointer;
}
.three-col {
    grid-template-columns: 110px auto 20px;
}
.six-col {
    grid-template-columns: 100px auto auto 20px auto 20px;
}
.row div:first-child {
    color: #dd4b39;
}

.sidebar .fa-save {
    /*padding-left: 10px;*/
    display: none;
}
.expand {
    cursor: pointer;
}
.expand .fa {
    float: right;
    font-size: 18px;
}
#additional-info .btn {
    display: block;
    margin: 20px auto;
}
#additional-info button .fa {
    margin-left: 10px;
}
.row select,
.row input {
    background: transparent;
    color: #c1c1c1;
    border: none;
    width: 200px;
    font-family: 'OpenSans-Regular', Sans-Serif;
}
.row input {
    padding:0 3px;
}

.three-col select {
    width: 170px;
    font-size: 13px;
}

#role,
#name {
    color: #c1c1c1;
    text-align: center;
    text-transform: capitalize;
    background: transparent;
    border: none;
    width:100%;
    font-family: 'OpenSans-Regular', Sans-Serif;
}
#name {
    font-size: 16px;
}
#role {
    font-size: 14px;
}
a.home {
    border-right: 1px solid #848484;
}
.name {
    text-transform: capitalize;
}
.sidebar-sub-header,
.sidebar-header {
    text-align: center;
    text-transform: capitalize;
}
.profile-photo {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    border: 5px solid #848484;
    border-radius: 50%;
}

.content ul {
    margin-bottom: 20px;
}
.content ul li {
    padding: 8px;
}
.content ul li:nth-of-type(odd) {
    background: #eae8e8;
}
.content ul li::before {
    color: #dd4b39;
    display: inline-block;
    font-style: bold;
    font-variant: normal;
    text-rendering: auto;
    margin-right: 10px;
    content: "\27A4";
}

.col {
    padding: 20px;
    overflow-y: scroll;
}
.right-header {
    text-align: center;
    font-size: 16px;
    color: #848484;
}
.photo {
    margin: 20px auto;
    width: 100px;
    height: auto;
    display: block;
    border: 5px solid #848484;
    border-radius: 50%;
}
.friends {
    padding: 20px 10px;
    overflow-y: scroll;
}
.friend-photo-small {
    margin: 10px auto;
    width: 30px;
    height: 30px;
    display: block;
    border: 3px solid #848484;
    border-radius: 50%;
    filter: grayscale(100%);
}
.active-friend-photo {
    border: 3px solid #9bf34b;
    filter: grayscale(0%);
}
.form-group {
    margin-bottom: 20px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    box-sizing: border-box;
}


.post {
    margin-bottom: 20px;
}

/****************** BUTTONS ********************/

.btn,
.btn-small {
    display: inline-block;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    /* buttons are not working on mobile */
    z-index: 99;
}
.add-friend {
    display: block;
    margin: auto;
}
.btn {
    padding: 6px 12px;
}
.btn-small {
    padding: 4px 8px;
}
.btn-red {
    background-color: #dd4b39;
    color: #fff;
}
.btn-blue {
    background-color: #00acd6;
    color: #fff;
}
.btn-yellow {
    background-color: #e08e0b;
    color: #fff;
}
.btn-green {
    background-color: #008d4c;
    color: #fff;
}

/***************** media queries *****************/

@media only screen and (max-width: 900px) {
    .body {
        /*grid-template-columns: auto auto;*/
        grid-auto-flow: row;
    }
    .container {
        height: auto;
    }
    body {
        overflow: auto;
    }
    .body > div {
        border-bottom: 1px solid #e2e1e1;
    }
    .photos {
        display: grid;
        grid-template-columns: auto auto;
    }
}
@media only screen and (max-width: 400px) {
    .three-col {
        grid-template-columns: auto auto 20px;
    }
    .three-col input {
        width: auto;
    }
}

/************* Index.html *************/

.home-page-content {
    padding: 20px;
    /*height: 100%;*/
    -webkit-box-shadow: inset 0px 5px 13px -5px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 5px 13px -5px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 5px 13px -5px rgba(0, 0, 0, 1);
    line-height: 25px;
    overflow-y: scroll;
}
.home-page-content ul {
    margin-bottom: 20px;
}
.home-page-content ul li {
    /*border-bottom:1px solid #dedada;*/
    padding: 8px;
    /*margin:8px 0;*/
}
.home-page-content ul li:nth-of-type(odd) {
    background: #eae8e8;
}
.home-page-content ul li::before {
    color: #dd4b39;
    display: inline-block;
    font-style: bold;
    font-variant: normal;
    text-rendering: auto;
    margin-right: 10px;
    content: "\27A4";
}
#home .logo {
    width: 120px;
}
#submit,
#send {
    /*margin:auto;
    display: block;*/
    width: 100%;
    height: 34px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#home .sidebar .form-control {
    color: #fff;
    background-color: #1c2529;
    border: 1px solid #161d20;
    /*border-radius: 4px;*/
}
#provider,
#input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#home .sidebar li {
    padding: 0;
}
#home .sidebar li a {
    display: block;
    line-height: 30px;
    text-decoration: none;
    color: #848484;
    cursor: pointer;
}
#home .sidebar .active,
#home .sidebar a:hover {
    color: #dd4b39;
}
.home-page-login,
#gun-password {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.donations-received {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.donations-received .currency {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    height: 34px;
}
.donations-received .amount {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #fff;
    text-align: center;
    height: 34px;
}
.about-me {
    text-align: center;
    max-width: 250px;
    color: #c1c1c1;
    text-transform: none;
    margin: auto;
}
.about-me p {
    line-height: normal;
    margin: 0;
    padding: 0;
}
.about-me h3 {
    color: #fff;
}
